apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  DATABASE_URL: {{ .Values.secrets.DATABASE_URL }}
  REDIS_URL: {{ .Values.secrets.REDIS_URL }}
  JWT_SECRET: {{ .Values.secrets.JWT_SECRET }}
