apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-worker
spec:
  replicas: {{ .Values.replicaCount.worker }}
  selector:
    matchLabels:
      app: ml-worker
  template:
    metadata:
      labels:
        app: ml-worker
    spec:
      containers:
        - name: worker
          image: {{ .Values.image.worker }}
          envFrom:
            - secretRef:
                name: app-secrets
          resources:
            {{- toYaml .Values.resources.worker | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 10
