# =============================================================================
# Grafana Datasource Provisioning
# =============================================================================

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.47.0
    editable: false

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger-query.observability:16686
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        tags: ['service']
        lokiSearch: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
    editable: false
